@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset for box-sizing, margin, and padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global body styles */
body {
  font-family: "Helvetica", "Arial", sans-serif; /* Fallback fonts */
}
